<div class="card">
    <div class="card__image-box">
        <video id="cv-video" autoplay width="500px" height="322px"></video>
        <canvas id="canvas-hsv"></canvas>
        <canvas id="canvas-canny"></canvas>
        <canvas id="canvas-gaus"></canvas>
        <canvas id="canvas-substraction"></canvas>
    </div>
</div>