<div class="card">
    <div class="card__image-box">
        <img id="cv-image" alt="cv-image" src="https://www.freeiconspng.com/uploads/no-image-icon-15.png" />
        <canvas id="canvas-hsv"></canvas>
        <canvas id="canvas-canny"></canvas>
        <canvas id="canvas-gaus"></canvas>
        <canvas id="canvas-substraction"></canvas>
    </div>
    <label class="input-file">
        <input id="input-file" type="file" />
        <span class="input-file-btn">
            <img src="/src/static/download.svg" />
        </span>
        <span class="input-file-text">Файл не выбран</span>
    </label>
</div>
<div class="chart-wrapper">
    <canvas id="histogram-chart"></canvas>
</div>