:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #01c2c3;
}

.chart-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 700px;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  margin: 0 auto;
  padding: 130px;
  width: 100%;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  margin-right: 18px;
  margin-left: 25px;
}

.logo img {
  width: 50px;
  filter: invert(1);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

header {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar ul li {
  list-style-type: none;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.navbar ul .active,
.navbar ul li:not(.logo):hover {
  background-color: var(--primary-color);
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  display: block;
  padding: 0 20px 0 20px;
  transition: color 0.2s ease-in;
}

.navbar ul .active a,
.navbar ul li a:hover {
  color: #000;
}

.card {
  padding: 2em;
  display: flex;
  height: auto;
  flex-direction: column;
  row-gap: 10px;
  max-width: 1200px;
}

.card__image-box > img,
.card__image-box > video {
  max-width: 500px;
  object-fit: cover;
}

.card__image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 300px;
  height: auto;
  gap: 5px;
}

.read-the-docs {
  color: #888;
}

.input-file {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  content: '';
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.25s;
}

.input-file input[type='file'] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  display: block;
}

.input-file:hover {
  border-color: var(--primary-color);
}
.input-file:focus,
.input-file:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input-file-btn {
  position: relative;
}

.input-file-btn img {
  width: 32px;
  filter: brightness(0) invert(1);
}

.input-file-text {
  position: absolute;
  margin-left: 10px;
  top: 0;
  bottom: 0;
  line-height: 55px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
